{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block titletab %}
<title>{% trans "About feature importance" %}</title>
{% endblock titletab %}
{% block title %}
<h1 class="display-4 text-center">{% trans "Feature Importance"%}</h1>
<p class="lead font-italic"></p>
<style type="text/css">
    .chartBox {
        width: 70%;
        height: 70%;
    }
</style>
{% endblock title %}
{% block content%}
&nbsp
<h2>{% trans "Feature Importance with XGB Classifier"%}</h2>
&nbsp
<p class="fs-5">{% trans "The XGB Classifier model allows us to get the importance of each feaure used to train the model. Feature importance provides a score that indicates how useful or valuable each feature was in the construction of the boosted decision trees within the model. The more an attribute is used to make key decisions with decision trees, the higher its relative importance."%}</p>
<p class="fs-5">{% trans "This importance is calculated explicitly for each attribute in the dataset, allowing attributes to be ranked and compared to each other."%}</p>
<p class="fs-5">{% trans "Importance is calculated for a single decision tree by the amount that each attribute split point improves the performance measure, weighted by the number of observations the node is responsible for. The performance measure may be the purity (Gini index) used to select the split points or another more specific error function."%}</p>
<p class="fs-5">{% trans "The feature importances are then averaged across all of the the decision trees within the model."%}</p>
&nbsp
<div class="chartBox container">
    <canvas id="myChart"></canvas>
</div>
{% endblock content%}
{% block scripts %}

<script>
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
    data: {
        labels: [{% for lab in labels %}'{{ lab }}',{% endfor %}],
    datasets: [{
        label: '{{ main_label }}',
    data: [{% for feature in f_importances %} {{ feature }}, {% endfor %}],
    backgroundColor: [
    'rgba(76, 171, 177, 0.7)',
    'rgba(8, 54, 48, 0.7)',
    'rgba(255, 149, 98, 0.7)',
    'rgba(150, 90, 52, 0.7)',
    'rgba(38, 160, 73, 0.3)',
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)'
    ],
    borderColor: [
    'rgba(76, 171, 177, 1)',
    'rgba(8, 54, 48, 1)',
    'rgba(255, 149, 98, 1)',
    'rgba(150, 90, 52, 1)',
    'rgba(38, 160, 73, 1)',
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
    ],
    borderWidth: 1
                    }]
                },
    options: {
        maintainAspectRatio: true,
        indexAxis: 'y',
    scales: {
        y: {
        beginAtZero: true
            }
        },
    plugins: {
        tooltip: {
        callbacks: {
        title: function (context) {
        console.log(context[0].label);
    return "{{ main_label }}";
                    }
                }
            },
        }
    }
    });
        });
</script>
{% endblock scripts %}