{% extends 'base_user.html' %}
{% load i18n %}
{% load static %}
{% load replace %}
{% block titletab %}
<title>{% trans "Login" %}</title>
{% endblock titletab %}
{% block content %}
<div class="row g-0">
  <div class="col-lg-6">
    <div class="card-body p-md-5 mx-md-4">
      <div class="text-center">
        <img src="{% static 'images/logo.png' %}" style="width: 185px;" alt="logo">
        <h4 class="mt-1 mb-5 pb-1">Heart Help App</h4>
      </div>
      <form method="POST">
        {% csrf_token %}
        <p>{% trans "Please login to your account"%}</p>
        <div class="form-outline mb-4">
          <input type="text" id="form2Example11" class="form-control" placeholder={% trans "Username" %}
            name="username" />
          <label class="form-label" for="form2Example11">{% trans "Username"%}</label>
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="form2Example22" class="form-control" name="password" placeholder="***********" />
          <label class="form-label" for="form2Example22">{% trans "Password"%}</label>
        </div>
        <div class="text-center pt-1 mb-5 pb-1 ">
          <button class="btn btn-secondary btn-block   mb-3" type="submit">{% trans "Log in"%}</button>
          <a class="text-muted" href="{% url 'reset_password' %}">{% trans "Forgot password?"%}</a>
        </div>
        {% for message in messages %}
        <p id="">{{message}}</p>
        {% endfor %}
        <div class="d-flex align-items-center justify-content-center pb-4">
          <p class="mb-0 me-2">{% trans "Don't have an account?"%}</p>
          <a href="{% url 'register' %}" class="btn btn-outline-secondary">{% trans "Create new"%}</a>
        </div>
        <div class="d-flex align-items-center justify-content-center pb-4">
          <p class="mb-0 me-2">{% trans "Or"%}, <a href="{% url 'index' %}" class="text-muted">{% trans "continue as guest."%}</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
      <h4 class="mb-4">{% trans 'The heart-friendly app' %}</h4>
      <p class="small mb-0">{% trans 'Heart Help is an application which main goal is use a machine learning model to be able to predict the presence of heart disease in an individual based on its various known health markers'%}.</p>
    </div>
  </div>
</div>
{% endblock content %}