{% extends 'base_user.html' %}
{% load i18n %}
{% load static %}
{% load replace %}
{% block titletab %}
<title>{% trans "Password reset" %}</title>
{% endblock titletab %}
{% block content %}
<div class="row g-0">
  <div class="col-lg-12">
    <div class="card-body p-md-5 mx-md-4">
      <div class="text-center">
        <img src="{% static 'images/logo.png' %}" style="width: 185px;" alt="logo">
        <h4 class="mt-1 mb-5 pb-1">Heart Help App</h4>
      </div>
      <form method="POST" class="text-center">
        {% csrf_token %}
        <p>{% trans "Please enter yout new password twice so we can verify you typed it correctly."%}</p>
        <div class="form-outline mb-4">
          {{form}}
        </div>
        <div class="text-center pt-1 mb-5 pb-1">
          <button class="btn btn-secondary btn-block  mb-3" type="submit">{% trans "Update Password" %}</button>
        </div>
        {% for message in messages %}
        <p id="">{{message}}</p>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}