{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="display-4">{% trans "Patient Information"%}</h1>
<p class="lead font-italic"></p>
{% endblock title %}

{% block content %}

<div class="container">
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">{% trans "Details"%}</div>
                    <div class="card-body">
                        <form>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    {{form.first_name|as_crispy_field}}
                                </div>
                                <div class="col-md-6">
                                    {{form.last_name|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    {{form.id_number|as_crispy_field}}
                                </div>
                                <div class="col-md-6">
                                    {{form.city|as_crispy_field}}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{form.address|as_crispy_field}}
                            </div>
                            <div class="mb-3">
                                {{form.phone_number|as_crispy_field}}
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    {{form.height|as_crispy_field}}
                                </div>
                                <div class="col-md-6">
                                    {{form.weight|as_crispy_field}}
                                </div>
                            </div>
                            <a href="{% url 'prediction_list' patient.pk %}" class="btn btn-primary">
                                {% trans "Check Predictions"%}
                            </a>
                            <a class="btn btn-primary" href={% url 'patient_list' %}>{% trans "Back to Patients"%}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}