{% extends 'base_user.html' %}
{% load i18n %}
{% load static %}
{% load replace %}
{% block titletab %}
<title>{% trans "Register" %}</title>
{% endblock titletab %}
{% block content %}
<div class="row g-0">
  <div class="col-lg-6">
    <div class="card-body p-md-5 mx-md-4">
      <div class="text-center">
        <img src="{% static 'images/logo.png' %}" style="width: 185px;" alt="logo">
        <h4 class="mt-1 mb-3 pb-1">We are The Lotus Team</h4>
      </div>
      <form method="POST" action="">
        {% csrf_token %}
        <p>{% trans "Register new account"%}</p>
        <div class="form-outline mb-3">
          {{form.first_name}}
        </div>
        <div class="form-outline mb-3">
          {{form.last_name}}
        </div>
        <div class="form-outline mb-3">
          {{form.username}}
        </div>
        <div class="form-outline mb-3">
          {{form.email}}
        </div>
        <div class="form-outline mb-3">
          {{form.password1}}
        </div>
        <div class="form-outline mb-3">
          {{form.password2}}
        </div>
        <div class="text-center pt-1 pb-1">
          <button class="btn btn-secondary btn-block mb-2" type="submit">{% trans "Create Account"%}</button>
        </div>
        {{form.errors}}
        <div class="d-flex align-items-center justify-content-center pb-1">
          <p class="mb-0 me-2">{% trans "Already have an account?"%}</p>
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">{% trans "Log In"%}</a>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
      <h4 class="mb-4">We are more than just a company</h4>
      <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script>

  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder = '{% trans "First Name"%}';
  form_fields[2].placeholder = '{% trans "Last Name"%}';
  form_fields[3].placeholder = '{% trans "Username"%}';
  form_fields[4].placeholder = '{% trans "Email"%}';
  form_fields[5].placeholder = '{% trans "Password"%}';
  form_fields[6].placeholder = '{% trans "Confirm Password"%}';
  for (var field in form_fields) {
    form_fields[field].className += ' form-control'
  }
</script>
{% endblock scripts %}